* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.img-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.Biografia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/fondo,blanco.jpg);
}

.cont-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cont-Formacion {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  gap:20px;
}

.card{
  justify-self: center;
}